################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/game_of_life04/x64/Debug
/x64/Debug
